<section [class]="'contentListCart contentListCart--'+classCart" id="outsideCart">
  <aside class="listCart">
    <h3 class="titleCart">Carrito</h3>
    <p class="totalPrice">Total: $222</p>
    <ul class="products">
      <li class="card" *ngFor="let product of dataCartProduct">
          <img [src]="product.urlImg" alt="" class="imgProduct">
          <p class="price txtBlack">$ {{product.price}}</p>
          <button class="deleteProduct" (click)="deleteProduct()">Eliminar</button>
      </li>
    </ul>
  </aside>
</section>
